 <main class="app-content">
    <div class="col-md-15">
        <div class="tile">
            <h3 class="tile-title">Staff Registration</h3>
            <form class="form-horizontal" method="post">
                <div class="tile-body">

                    <div class="form-group row">
                        <label class="control-label col-md-3">Staff Code</label>
                        <div class="col-md-8">
                            <input class="form-control" id="StaffCode" name="StaffCode" type="text" placeholder="Enter Staff Code">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3">First Name</label>
                        <div class="col-md-8">
                            <input class="form-control" id="FirstName" name="FirstName" type="text" placeholder="Enter First Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3">Last Name</label>
                        <div class="col-md-8">
                            <input class="form-control" id="LastName" name="LastName" type="text" placeholder="Enter Last Name">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-md-3">Mobile</label>
                        <div class="col-md-8">
                            <input class="form-control" id="Mobile" name="Mobile" type="text" placeholder="Enter Mobile Number">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-md-3">Designation</label>
                        <div class="col-md-8">
                            <input class="form-control" id="Designation" name="Designation" type="text" placeholder="Enter Designation">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-md-3">Gender</label>
                        <div class="col-md-9">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" id="Gender" type="radio" name="Gender" value="Male">Male
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" id="Gender" type="radio" name="Gender" value="Female">Female
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-md-3">Hourly Rate</label>
                        <div class="col-md-8">
                            <input class="form-control" id="HourlyRate" name="HourlyRate" type="number" placeholder="Enter Rate">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-md-3">Monthly Salary</label>
                        <div class="col-md-8">
                            <input class="form-control" id="MonthlySalary" name="MonthlySalary" type="number" placeholder="Enter salary">
                        </div>
                    </div>



                    <div class="form-group row">
                        <label class="control-label col-md-3">Monthly Hours</label>
                        <div class="col-md-8">
                            <input class="form-control" id="MonthlyHours" name="MonthlyHours" type="number" placeholder="Enter Monthly Hours">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3">Other Info</label>
                        <div class="col-md-8">
                            <textarea class="form-control" id="OtherInfo" name="OtherInfo" rows="4" placeholder="Enter Other Info"></textarea>
                        </div>
                    </div>

                    @*<div class="form-group row">
                    <div class="col-md-8 col-md-offset-3">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox">I accept the terms and conditions
                            </label>
                        </div>
                    </div>
                    </div>*@

                </div>
                <div class="tile-footer">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-3">
                            <input class="btn btn-primary" type="submit" value="Submit"> &nbsp;&nbsp;&nbsp;<a class="btn btn-secondary" href="#">Cancel</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</main>
 
